.scroll-pane {
    -fx-background-color: transparent;
}

.anchor-pane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15px;
}

#selectPane {
    -fx-background-color: rgba(232, 230, 235, 0.5);
    -fx-border-radius: 5px;
    -fx-background-radius: 15px;
}

#optionPane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
}

#highScorePane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
}